.product_slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.product_slider-preview {
    position: relative;
    width: 10%;
    height: 350px;
    overflow: hidden;
    background: transparent;
}

.product_slider-preview-slides {
    position: relative;
    top: 0;
    transition: all .3s;
}

.product_slider-preview-prev_btn {
    position: absolute;
    top: 5px;
    left: 12px;
    z-index: 100;
}

.product_slider-preview-next_btn {
    position: absolute;
    bottom: 5px;
    left: 12px;
    z-index: 100;
}

.product_slider-preview-next_btn button, .product_slider-preview-prev_btn button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    transition: all .3s;
    display: none;
    cursor: pointer;
}

.product_slider-preview-next_btn svg, .product_slider-preview-prev_btn svg {
    width: 50%;
    height: 50%;
    position: relative;
    top: 2px;
}

.product_slider-content {
    width: 90%;
    padding: 25px;
}

.product_slider-content-image {
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    cursor: zoom-in;
    transition: all .3s;
}

.product_slider-preview--element, .product_slider-content-image, .product_slider-fullscreen--content-display-image {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
}

.product_slider-preview--element {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-left: 3px solid transparent;
    transition: all .3s;
    cursor: zoom-in
}

.product_slider-preview div:first-child {
    border-left-color: #83CC00;
}

.product_slider-btn-left, .product_slider-btn-right {
    display: none;
}

.product_slider-btn-left button, .product_slider-btn-right button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
}

.product_slider-btn-left svg, .product_slider-btn-right svg {
    width: 32px;
    height: 100%;
}

/* Slider FullScreen */

.product_slider-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #fff;
    display: none;
    overflow: hidden;
}

.product_slider-fullscreen--heading {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 7px;
}

.product_slider-fullscreen--heading h1 {
    position: relative;
    top: 3px;
    cursor: default;
    font-size: 2em;
    margin-left: 20px;
    font-weight: bold;
}

#product_slider-fullscreen-close_btn {
    position: relative;
    top: 5px;
    margin-right: 10px;
    width: 35px;
    border: none;
    background-color: transparent;
}

.product_slider-fullscreen--info {
    width: 100%;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.product_slider-fullscreen--info button {
    color: #83CC00;
    padding: 5px;
    margin-top: 3px;
    margin-left: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #83CC00;
    font-size: 1.5em;
    cursor: pointer;
}

.product_slider-fullscreen--content {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    padding: 25px;
}

.product_slider-fullscreen--content-left_btn, .product_slider-fullscreen--content-right_btn {
    width: 8%;
}

@media only screen and (max-width: 600px) {
    .product_slider-fullscreen--content {
        padding: 5px;
    }
}

.product_slider-fullscreen--content-display {
    width: 92%;
    padding: 20px;
    padding-bottom: 50px;
}

.product_slider-fullscreen--content-display-image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: all .3s;
}

.product_slider-fullscreen--content button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.product_slider-fullscreen--content button:hover {
    background: #f9f9f9;
}

.product_slider-fullscreen--content button svg {
    width: 32px !important;
    height: 100%;
}

.product_slider-fullscreen--preview {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    background: #fff;
}

.product_slider-fullscreen--preview--element {
    display: flex;
    width: 65px;
    height: 65px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #eee;
    cursor: pointer;
}

.product_slider-fullscreen--preview--element div {
    width: 100%;
    height: 100%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
}

.swiper-slide {
    display: flex;
    justify-content: flex-start;
}

.product_slider-fullscreen-preview-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.product_slider-fullscreen-preview-prev_btn {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-left-256.png') center center no-repeat;
    background-size: 20px;
}

.product_slider-fullscreen-preview-next_btn {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-512.png') center center no-repeat;
    background-size: 20px;
}

.product_slider-fullscreen-preview-next_btn, .product_slider-fullscreen-preview-prev_btn {
    position: relative;
    top: 55px;
    z-index: 999;
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%), inset 0 0 0 1px rgb(0 0 0 / 10%);
    border-radius: 50%;
}



@media only screen and (max-width: 991px) {
    .product_slider {
        min-height: 300px;
    }
    .product_slider-fullscreen--content {
        padding: 5px;
    }
    .product_slider-preview {
        display: none;
    }
    .product_slider-btn-left, .product_slider-btn-right {
        display: block;
    }
    .product_slider-content {
        padding: 0;
    }
    .product_slider-fullscreen--content-right_btn, .product_slider-fullscreen--content-left_btn {
        display: none;
    }
    .product_slider-fullscreen--content-display {
        width: 100% !important;
    }
    .product_slider-fullscreen--heading-text h1 {
        display: none;
    }
    .product_slider-fullscreen--heading {
        position: relative;
        z-index: 999;
        background: transparent !important;
    }
    .product_slider-fullscreen--info {
        position: absolute;
        top: 17px;
    }
}
